:root{

}

body{
    background-color: #192730;
    height: 100vh;
}

.conteudo{
    width: 40%;
    margin: auto;
}

.imagens{
    display: flex;
    justify-content: space-between;
}

.simbolo{
    height: 25px;
}

.reload{
    cursor: pointer;
    background-color: #999999;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2.5px 3px 5px rgba(0, 0, 0, 0.4);
}

.reload:active{
    box-shadow: none;
    transform: translate(0%, 3%);
}